.team_wrapper {
  width: 1156px;
  height: 425px;
  margin: 200px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 77px;
  font-size: 54px;
  font-weight: 600;
}

.team_card_wrapper{
  display: flex;
  height: 270px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
